* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #e8ecf1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    background-color: white;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 12px 15px;
    font-size: 1rem;
    border: 2px solid #e2e8f0;
    border-radius: 10px;
    background-color: #f7fafc;
    color: #2d3748;
}

input:focus {
    border-color: #000;
    outline: none;
}

.error-message {
    display: none;
    font-size: 0.8rem;
    margin-top: 5px;
}

input:invalid + .error-message {
    display: block;
}


.button {
    text-align: center;
}

button {
    width: 200px;
    height: 35px;
    margin-top: 10px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    color: #ffffff;
    background-color: #6a8ee4;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}