html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  width: 80%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

h1,
h2,
h3 {
  color: #2a2a2a;
}

p,
li,
a {
  font-size: 1.6rem;
  line-height: 1.5;
}